* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.typo-navbar {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.header-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.header-navbar li {
  list-style: none;
  color: #fff;
}

.header-navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  background: #ff6052;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
}
/*# sourceMappingURL=main.css.map */