.header-navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    li {
       list-style: none;
       color: $white;
    }
    ul {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
    }
}